*,*:after,*:before{
  box-sizing: border-box;
}
body {
  background: #e4e4e4 url() center bottom;
  background-size: cover;
  min-height: 100vh;
  font-family:arial;
  font-size: 16px;
  margin: 0;
}
img{
  width: 5%;
  height: auto;
}
.logo{
  width: 210px;
  height: 16px;
}



#header{
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #022335;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
}
.container{
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .header_left{
  width: 70px;
  height: auto;
  float: left;
  padding: 0px;
}
.nav_ico{
  display: block;
  width: 40px;
  cursor: pointer;
}
.main_nav {
  float: right;
}
.main_nav ul{
  margin: 0;
  padding: 0px;
  list-style: none;
}
.main_nav ul li{
  float: left;
  margin: 0 0 0 5px;
  position: relative;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 300;
  position: relative;
}
.main_nav ul li a {
  color: white;
  display: block;
  line-height: 1.4;
  text-decoration: none;
  padding: 5px 15px;
  transition: all 0.3s ease-out;
}
.main_nav ul li:hover > a{
  color: #0a91da
}
.main_nav ul li i{
  position: absolute;
  right: 0;
  top: 10px;
  color: #fff;
}
.main_nav ul li:hover > i{ color: #0a91da }

.main_nav ul ul{
  position: absolute;
  left: 0;
  top:calc(100% + 15px);
  white-space: nowrap;
  opacity: 0;
  transition: all 0.3s ease-out;
  pointer-events: none;
}
.main_nav ul ul li{
  float: none;
  margin:0;
  border-bottom: 1px solid #fff;
}
.main_nav > ul > li > ul:after{
  content: "";
  position: absolute;
  bottom: 100%;
  height: 16px;
  width: 100%;
  left: 0;
}

.main_nav ul ul ul{
  left: 100%;
  top:0;
}
.main_nav ul li:hover > ul{
  opacity: 1;
  pointer-events: auto;
}
.main_nav ul ul li a{
  background:#035b8a;
}
.main_nav ul li:hover ul li:hover > a{
  color: #fff;
  background:grey;
}
.main_nav ul ul li i{
  transform: rotate(-90deg);
}
.main_nav ul ul li:hover i{ color: #fff; }




/*This Media Query use for iPad Portrait View*/
@media only screen and (min-width:768px) and (max-width:991px){
  .main_nav ul li{ margin: 0 ; font-size: 16px; }
  .main_nav ul li a{ padding: 5px 10px; }

}

@media screen and (min-width: 768px){
  .nav_ico,
  #menuTrigger{  display: none;} 
}
/*This Media Query use for Mobile View*/
@media screen and (max-width: 767px){
  .nav_ico{ 
    display: block;
    position: relative;
    z-index: 10;
    color: #fff;
    font-size: 36px;

  } 
  .main_nav {
    position: fixed;
    left: 0;
    top: 72px;
    padding:0;
    background: #036194;
    z-index: 5;
    height: calc(100vh - 74px);
    overflow: auto;
    width: calc(100% - 80px);
    transition: all 0.3s ease-out;
    transform: translateX(-100%);
  }
  .main_nav ul li {
    float: none;
    margin: 0 !important;
    padding: 0 !important;
    border-bottom: 1px solid;
  }
  .main_nav ul li a {
    display: block;
    color: #fff;
    padding: 10px;
  }
  .main_nav > ul > li:hover > a{
    background:grey;
    color: #fff;
  } 
  .main_nav ul ul{
    position: static;
    pointer-events: auto;
    opacity: 1;
    height: 0;
    overflow: hidden;
  }
  .main_nav ul ul li a{
    padding-left: 30px;
  }
  .main_nav ul ul ul li a{
    padding-left: 60px;
  }
  .main_nav ul ul ul ul li a{
    padding-left: 90px;
  }
  .main_nav ul li:hover > ul {
    height: auto;
  }
  .main_nav ul li i{ right: 10px !important; }
  .main_nav ul li:hover > i{ color: #fff }
  .main_nav ul ul li i{transform: rotate(0deg);}

  #menuTrigger{
    opacity: 0;
    position: fixed;
    width: 0;
    height: 0;
    margin: 0
  }
  #menuTrigger:checked + .main_nav{
    transform: translateX(0%);
  }

  

}
/*add animated background*/
.animated-background {
    width: 100%;
    height: 800px;
    background: url(./Assets/Images/bac.jpg) repeat;
    animation: animateBackground 20s linear infinite;
  }

  @keyframes animateBackground {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 0;
    }
  }
  /*contents on the animated-background*/
  .content {
    padding-top: 40px;
    margin: 0px 0px 0px 0px;
    text-align: center;
    color:#fff;
}
.content h1 {
    padding-top: 80px;
    font-size: 40px;
}
.content p {
    font-size: 24px;
}

#word-container {
font-size: 30px;
display: block;
text-align: center;
margin-top: 100px;;
color:#fff;
/*position: absolute;*/
}
/*
social media icons
*/


  /*try out the sections*/
  section {
    display: none;
}
section.active {
    display: block;
}

/*service part in */

.service-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2em;
  padding-top: 100px;
}

.service {
  width: 400px;
  margin: 1em;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s;
}

.service:hover {
  transform: scale(1.11);
}

.service img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.service-info {
  padding: 1em;
}

.service-info h2 {
  margin-bottom: 0.5em;
  font-weight: 300;
}

.service-info p {
  margin-bottom: 1em;
  
  
}

.learn-more-btn {
  display: inline-block;
  text-decoration: none;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s; 
}

.learn-more-btn:hover {
  background-color: #2d82f1; 
  color: #fff; 
}

/*----------------------------
More details on services code
------------------------------*/
.more{
  color: #ccc;
}

.details-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 2em;
  min-height: 100vh; /* Cover 100% of the screen height */
  min-width: 80%; /* Cover at least 70% of the screen width */
}

.details-header {
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
}

.details {
  width: calc(95% - 2em);
  background-color: rgb(197, 214, 250);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 1em;
  padding: 1em;
  min-height: 70vh;
}

.details p{
  font-style: oblique;
  font-size: 20px;
}

.details ul{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.details img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 1em;
}
.details h2{
  text-align: center;
}
.details :hover{
  transform: scale();
}
.details h3{
  text-align: center;
}

.separator {
  width: 100%;
  border-top: 1px solid #ccc;
  margin: 1em 0;
}

.footer {
  background-color: #770707;
  color: white;
  padding: 1em;
  text-align: center;

  bottom: 0;
  width: 100%;
}

.back-to-top {
  position: relative;
  bottom: 20px;
  right: 50%;
  left: 50%;
  background-color: #a70808;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: none;
  
}

.back-to-top:hover {
  background-color: #df590b;
}

/*image section*/
.image-section {
  display: grid;
  margin: 1em;
  padding-top: 80px;
  text-align: center;
}

.image-container {
  flex: 1;
}

.image-container img {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: auto;
  border-radius: 8px;
}

.description {
  flex: 0 0 50%;
  text-align: left;
  padding: 1em;
}
.image-section h2{
  font-size: 35px;
  text-align: center;
}
.description h3{
  font-size: 30px;
  text-align: center;
}
.description p{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
}

/*sub sections code*/
.subsection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.content {
  flex: 1;
  padding: 1em;
}
.btn-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

button {
  padding: 10px;
  cursor: pointer;
}
.media {
  flex: 1;
}

.media img,
.media iframe {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

@media only screen and (max-width: 600px) {
  .subsection {
    flex-direction: column;
  }

  .media img,
  .media iframe {
    order: 1; /* Move media content above description on smaller screens */
  }
}
/**web implementation**/
.content-section {
  margin: 2em;
}

img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.description {
  padding: 1em;
}

.button-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
}

.button-link:hover {
  background-color: #0056b3;
}

/*---------------\
Contact page
----------------*/
.contact{
  display: flex;
  padding: 50px 10px;
  min-height: 100vh;
  background: #063883;
  align-items: center;
  justify-content: center;
}
::selection{
  color: #fff;
  background: #0D6EFD;
}
.wrapper{
  top: 150px;
  width: 715px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.05);
}
.wrapper header{
  font-size: 22px;
  font-weight: 600;
  padding: 20px 30px;
  border-bottom: 1px solid #ccc;
}
.wrapper form{
  margin: 35px 30px;
}
.wrapper form.disabled{
  pointer-events: none;
  opacity: 0.7;
}
form .dbl-field{
  display: flex;
  margin-bottom: 25px;
  justify-content: space-between;
}
.dbl-field .field{
  height: 50px;
  display: flex;
  position: relative;
  width: calc(100% / 2 - 13px);
}
.wrapper form i{
  position: absolute;
  top: 50%;
  left: 18px;
  color: #ccc;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
}
form .field input,
form .message textarea{
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 18px 0 48px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.field input::placeholder,
.message textarea::placeholder{
  color: #ccc;
}
.field input:focus,
.message textarea:focus{
  padding-left: 47px;
  border: 2px solid #0D6EFD;
}
.field input:focus ~ i,
.message textarea:focus ~ i{
  color: #0D6EFD;
}
form .message{
  position: relative;
}
form .message i{
  top: 30px;
  font-size: 20px;
}
form .message textarea{
  min-height: 130px;
  max-height: 230px;
  max-width: 100%;
  min-width: 100%;
  padding: 15px 20px 0 48px;
}
form .message textarea::-webkit-scrollbar{
  width: 0px;
}
.message textarea:focus{
  padding-top: 14px;
}
form .button-area{
  margin: 25px 0;
  display: flex;
  align-items: center;
}
.button-area button{
  color: #fff;
  border: none;
  outline: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  padding: 13px 25px;
  background: #0D6EFD;
  transition: 0.3s ease;
}
.button-area button:hover{
  background: #025ce3;
}
.button-area span{
  font-size: 17px;
  margin-left: 30px;
  display: none;
}
@media (max-width: 600px){
  .wrapper header{
    text-align: center;
  }
  .wrapper form{
    margin: 35px 20px;
  }
  form .dbl-field{
    flex-direction: column;
    margin-bottom: 0px;
  }
  form .dbl-field .field{
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
  }
  form .message textarea{
    resize: none;
  }
  form .button-area{
    margin-top: 20px;
    flex-direction: column;
  }
  .button-area button{
    width: 100%;
    padding: 11px 0;
    font-size: 16px;
  }
  .button-area span{
    margin: 20px 0 0;
    text-align: center;
  }
}


/*
about section wrapper
/

.wrapper1 {
  max-width: 1100px;
  width: 100%;
  position: relative;
}
.wrapper1 i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper1 i:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper1 i:first-child{
  left: -22px;
}
.wrapper1 i:last-child{
  right: -22px;
}
.wrapper1 .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card {
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  background: #fff;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
}
.carousel .card .img {
  background: #8B53FF;
  height: 148px;
  width: 148px;
  border-radius: 50%;
}
.card .img img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
}
.carousel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}
.carousel .card span {
  color: #6A6D78;
  font-size: 1.31rem;
}
@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}
@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}
*/